* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
}

.darkmode {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #1a1a1a;
  --bg_body: #282828;
  --lines-color: #000000;
  --body-text: #ededed;
  --heart-color: #dc143c;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: var(--body-text);
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px;
  background-color: var(--bg_default);
}

header h2 {
  color: var(--brand-primary, #00f);
  font-weight: 700;
  margin-inline: 2rem;
}

nav {
  margin: 0 ;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

nav ul li {
  border: 1px solid var(--lines-color, #ddd);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

li ion-icon {
  font-size: 1rem;
}

.welcome {
  display: flex;
  justify-content: center;
  padding: 20px;
  position: relative;
  background-color: var(--bg_default);
}

.triangle1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 60%;
  background-image: linear-gradient(to right,
      var(--brand-primary),
      var(--brand-secondary));
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  z-index: 2;
}

.triangle2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 60%;
  background-color: var(--brand-secondary);
  clip-path: polygon(00% 00%, 100% 100%, 100% 00%);
}

.welcome h2 {
  color: var(--brand-secondary);
  font-weight: 700;

  margin-top: 40px;
}

.welcome p {
  font-weight: 200;
}


.search-container {

  display: flex;
  height: 50px;

  align-items: center;
  background-color: #fff;
  /* box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1); */
  border-radius: 8px;
  overflow: hidden;
  flex-direction: row;
  margin: 2rem;



  list-style: none;

  justify-content: flex-end;

  border: 1px solid #ddd;
}

.search-bar {

  display: flex;
  flex-grow: 1;

  overflow: hidden;
  width: 65%;
  align-items: center;

}

.search-input {
  flex-grow: 1;
  padding: 12px;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-icon {

  padding: 12px;
  color: #555;
  cursor: pointer;
  position: relative;


}

.dropdown-container {
  display: flex;
  height: 100%;
  width: 40%;
  align-items: center;
  margin: 0px;
  justify-content: flex-end;
}

.dropdown {
  width: 200px;

  display: inline-block;

  line-height: 18px;
  position: relative;
  /* Add this line */
  padding-left: 10px;
  padding-top: 3px;
  padding-right: 5px;
  height: 100%;
}



.dropdown:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  /* Adjust the width of the left border */
  height: 100%;

  /* Adjust the color of the left border */
  z-index: 1;

}
.filter{
  border-left:1px solid var(--lines-color, #ddd);
}

.dropdown label {
  font-size: 10px;
  margin-left: 4px;

  color: #555;
  margin-bottom: 8px;
  height: 3em;


}

.dropdown select {
  padding: 10px;
  font-size: 14px;

  width: 100%;
  padding: 0px;
  border: none;

  box-sizing: border-box;

}





.card {

  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;


  width: calc(20% - 20px);
  /* 20% width with 10px margin on each side */
 
  box-sizing: border-box;
}

h3 {
  margin-top: 0;
}

.card img {
  width: 100%;
  display: relative;
  padding: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

}

.card-info {
  padding: 15px;
  background-color: var(--bg_default);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;


}

.card-title {
  margin-bottom: 20px;

}

.card-title h3 {
  font-size: 15px;
  font-weight: 700;
}

.card-title p {
  font-size: 14px;
  font-weight: 400;

}

main {
  background-color: var(--bg_body);
  padding: 2em;
  display: block;


}

.all-card {
  margin: 25px;
  display: flex;
  flex-wrap: wrap;



}


.rating {
  font-size: small;
  margin-bottom: 15px;
  font-weight: 400;
  

}
.rating ion-icon{
  font-size: 1rem;
  gap: 1px;

}



.author {
  font-size: 14px;
  font-weight: 200;
}




footer {
  text-align: center;
  background-color: var(--bg_body);
  padding: 2em;
  width: 100%;

}

footer ion-icon {
  color: var(--heart-color);
  font-size: 2rem;
  position: relative;
  top: 8px;
}

nav li:hover {
  background-color: var(--bg_body);
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}



/* details page css  */
.details-container {
  background-color: var(--body-text);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-inline: 20em;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  width: 100%
}

.details-description {
  background-color: var(--body-text);
  color: white;
  width: 65%;
}


.details-title p {
  font-size: 14px;
  font-weight: 200;
  color: var(--brand-secondary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;


}

.details-title h3 {
  font-size: 2rem;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.rating ion-icon {
  font-weight: 200;

}


.author-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0.1em;
  background-color: var(--bg_default);
  position: absolute;
  top: 18px;
  left: 62%;
  width: 280px;
  height: 176%;

}

.author-card img {
  width: 100%;
  height: 50%;


}

.author-name {
  padding: 0.7em;
  left: 5%;

}

.add-favourites {
  border: solid 1px lightgray;
  padding: 0.5em;
  margin: 0.7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.add-favourites button {
  background-color: var(--brand-secondary);
  color: var(--bg_body);
  
  font-size: 1.2rem;
  font-weight: 200;
  padding: 0.6em;
  border: transparent;
  margin-bottom: 8px;
  display: flex;
  align-items: center;



}
.add-favourites button ion-icon{
  font-size: 2rem;
  margin-inline-start: 1rem;
}

.add-favourites p {
  text-align: left;
  margin-bottom: 8px;
}

.credits {
  font-weight: 200;



}

.topics {
  background-color: var(--bg_body);
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  padding-inline: 20em;
  padding-top: 2rem;
  padding-bottom: 2rem;

}

.topics-container {

  background-color: var(--bg_default);
  border: 1px solid #ccc;
  /* Light border between each list item */
  width: 65%;

}

.topics-container h2 {
  border-bottom: 1px solid #ccc;
  /* Light border between each list item */
  padding: 1em;
  /* Adjust as needed for spacing */





}

.topics-container ul {
  list-style-type: none;

}

.topics-container li {
  border-bottom: 1px solid #ccc;
  /* Light border between each list item */
  padding-bottom: 5px;
  /* Adjust as needed for spacing */
  padding: 1em;
}

.topics-container span {


  margin-inline: 1em;
  color: var(--brand-secondary);
}
span ion-icon{
  font-size: 1.5rem;
}
.checklist-topics li{
  display: flex;
  align-items: center;

}



/* Resoponsive  */

@media only screen and (max-width: 900px) {

li span{
  display : none;
  visibility: hidden;
}


header { 
 
  
  padding: 1.5rem;


}
header h2{
  margin-inline: 0;
  font-weight: 400;
  font-size: 1.2em;
}

.triangle1{
  height: 20%;
}
.triangle2{
  height: 20%;
}

.wel-block h2{
  margin-top: 5px;
  
}

main{
  padding : 0em; 

}

.search-container{
  display : flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: start;
  width: inherit;
  margin: 0px;
  margin-inline:1rem;

  margin-top: 1rem;


}
.search-icon{
  display: flex;
  align-items: center;
}
.dropdown-container{
  width: 100%;
  border-top: 1px solid var(--lines-color, #ddd);

}

.dropdown{
  width: 50%;
  padding-bottom: 7px;

}
.all-card{
  display: flex;
  flex-direction : column;
  align-items: center;
  align-content: center;
  margin: 1rem;



}
.card{
  width: 100%;
  margin-inline: 1rem;
  margin-top: 1rem;

}
.details-container{
  flex-direction: column;
  padding-inline: 0px;
  align-items: center;

  

}

.author-card{
  position:inherit;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: 1rem;
  

}
.topics{
  padding-inline: 0px;
  align-items: center;


}

.checklist-topics li span{
  display: flex;
  visibility: visible;
}

}

